<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <!-- inactive links scan/favorites/user -->
  <%= link_to root_path, class: "navbar-brand a-navbar" do %>
    <%= image_tag("icons/home_icon.png") %>
  <% end %>
  <%= link_to scan_path, class: "navbar-brand a-navbar" do %>
    <%= image_tag("icons/scan_icon.png") %>
  <% end %>
  <%= link_to "favorites", class: "navbar-brand a-navbar" do %>
    <%= image_tag("icons/heart_icon.png") %>
  <% end %>
  <%= link_to edit_user_registration_path, class: "navbar-brand a-navbar" do %>
    <%= image_tag("icons/profile_icon.png") %>
  <% end %>
</div>