<% if @products.class == String %>
<div><%= @products %> </div>
<% else %>
<% @products.each do |product| %>
<%= product.fetch["code"] %>
<%= product.fetch["product_name"] %>
<%= product.fetch["brands"] %>
<%= product.fetch["image_front_small_url"] %>

<% end  %>
<% end %>
