<h1>HOME</h1>

<%# #CARDS BEST result %>
<div class="cards-review">
  <div class="card-review">
    <img src="#" alt="image produit" class="img-produit">
    <%= image_tag 'icons/heart_icon', style: 'width:16px', class: 'heart'%>
    <div class="card-review-infos">

      <div class="card-review-name-labels">
        <h4>Water</h4>
        <div class="label">
         <%= image_tag 'icons/glutenfree_icon', style: 'width:16px', class: 'label'%>
         <%= image_tag 'icons/leaf_icon', style: 'width:16px'%>
        </div>
      </div>
      <p>Volvic</p>

      <div class="card-review-ratings">
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        </br>
        <span>(520)</span>
      </div> 

    </div>
  </div>

  <div class="card-review">
    <img src="#" alt="image produit" class="img-produit">
    <%= image_tag 'icons/heart_icon', style: 'width:16px', class: 'heart'%>
    <div class="card-review-infos">

      <div class="card-review-name-labels">
        <h4>Water</h4>
        <div class="label">
         <%= image_tag 'icons/glutenfree_icon', style: 'width:16px', class: 'label'%>
         <%= image_tag 'icons/leaf_icon', style: 'width:16px'%>
        </div>
      </div>

      <p>Volvic</p>
      <div class="card-review-ratings">
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        </br>
        <span>(520)</span>
      </div> 

    </div>
  </div>  
</div>

<%# #CARD CATEGORY  %>
<div class="cards-category">
  <div class="card-category">
    <img src="#" alt="" class="img-category">
    <div class="card-category-info">
      <p>Name</p>
    </div>
  </div>

  <div class="card-category">
    <img src="#" alt="" class="img-category">
    <div class="card-category-info">
      <p>Name</p>
    </div>
  </div>

</div>

<%# #CARD WRITTEN REVIEW  %>
<div class="cards-written-review">
  <div class="card-written-review"">
    <div class="card-written-review-avatar">
      <img src="#" alt="" class="avatar-review">
      <p>Name</p>
    </div>
    <div class="card-written-review-infos">
      <div class="card-written-review-ratings">
          <i class="fas fa-star fa-xs"></i>
          <i class="fas fa-star fa-xs"></i>
          <i class="fas fa-star fa-xs"></i>
          <i class="fas fa-star fa-xs"></i>
      </br>
      <span>20/10/2035</span>
    </div> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> 
  </div>
</div>  


<br>
<br>
<%# #CARD RESULT  %>
<div class="cards-result">
  <div class="card-result">
    <img src="#" alt="" class="img-produit-result">
    
    <div class="card-result-infos">
      <div class="card-result-name-labels">
        <h4>Biscuit</h4>
        <div class="label">
         <%= image_tag 'icons/glutenfree_icon', style: 'width:16px', class: 'label'%>
         <%= image_tag 'icons/leaf_icon', style: 'width:16px'%>
        </div>
      </div>
      <p>Saint Michel</p>
      <div class="card-result-ratings">
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        </br>
        <span>(520)</span>
      </div>
    </div>
  </div>
</div>
  