<div class="d-flex align-items-center mt-2 mb-3 ">
<img src="https://img.icons8.com/color/48/000000/cactus.png"/>
<h4 class="logo">Gringo!</h4>
</div>

<div class="d-flex mb-2">
	<%= form_tag products_path, method: :get do %>
	<div class="d-flex ">
		<%= text_field_tag :query,params[:query],class: "searchbar",placeholder: "Trouver un produit.."  %>
		<%= submit_tag "", class: "search_btn" %>
	</div>
	<% end %>

	<%= image_tag "icons/filter_icon", style: "height:30px; margin:auto" %>
</div>


<div class="container-category">
<h6>
	Explorer par catégories
</h6>
<div class="container-fluid category">
	<div class="row flex-xl-nowrap">
		<div class="col-12">
			<div class="bd-example">
				<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="block2-wrap"> 
								<a href="<%= url_for(:controller => "products", :action => "index", :query => "steack") %>">
									<div class="block2">
										<div class="card-category">
											<img class='img-category' src="https://img.icons8.com/color/48/000000/steak.png"/> 
											<div class="card-category-info">
												<p>
													Viande
												</p>
											</div>
										</div>
									</div>
								</a>
								<a href="<%= url_for(:controller => "products", :action => "index", :query => "poisson") %>">
									<div class="block2">
										<div class="card-category">
                      <img class='img-category' src="https://img.icons8.com/color/48/000000/fish-food.png"/> 
											
											<div class="card-category-info">
												<p>
													Poisson
												</p>
											</div>
										</div>
									</div>
								</a>
								<a href="<%= url_for(:controller => "products", :action => "index", :query => "lait entier bouteille") %>">
									<div class="block2">
										<div class="card-category">
											<img class='img-category' src="https://img.icons8.com/color/48/000000/milk-carton.png"/> 
											<div class="card-category-info">
												<p>
													Lait
												</p>
											</div>
										</div>
									</div>
								</a>
								<a href="<%= url_for(:controller => "products", :action => "index", :query => "oeufs calibre") %>">
									<div class="block2">
										<div class="card-category">
											<img class='img-category' src="https://img.icons8.com/color/48/000000/sunny-side-up-eggs.png"/> 
											<div class="card-category-info">
												<p>
													Oeufs
												</p>
											</div>
										</div>
									</div>
								</a>
								<a href="<%= url_for(:controller => "products", :action => "index", :query => "beurre plaquette") %>">
									<div class="block2">
										<div class="card-category">
											<img class='img-category' src="https://img.icons8.com/color/48/000000/butter.png"/> 
											<div class="card-category-info">
												<p>
													Beurre
												</p>
											</div>
										</div>
									</div>
								</a>
								<a href="<%= url_for(:controller => "products", :action => "index", :query => "huiles 1 litre") %>">
									<div class="block2">
										<div class="card-category">
											<img class='img-category' src="https://img.icons8.com/color/48/000000/olive-oil-bottle.png"/> 
											<div class="card-category-info">
												<p>
                          Huile
												</p>
											</div>
										</div>
									</div>
								</a>
								<a href="<%= url_for(:controller =>"products", :action =>"index", :query =>"céréales petit déjeuner") %>">
									<div class="block2">
										<div class="card-category"> 
											<img class='img-category' src="https://img.icons8.com/color/48/000000/cereal.png"/> 
											<div class="card-category-info">
												<p>
                          Céréales
												</p>
											</div>
										</div>
									</div>
								</a>
								<a href="<%= url_for(:controller => "products", :action => "index", :query => "graines") %>">
									<div class="block2">
										<div class="card-category">
											<img class='img-category' src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png"/> 
											<div class="card-category-info">
												<p>
                          Graines
												</p>
											</div>
										</div>
									</div>
								</a>
								<a href="<%= url_for(:controller => "products", :action => "index", :query => "bonbons") %>">
									<div class="block2">
										<div class="card-category">
											<img class='img-category' src="https://img.icons8.com/color/48/000000/sweets.png"/> 
											<div class="card-category-info">
												<p>
													Confiseries
												</p>
											</div>
										</div>
									</div>
								</a>
								<a href="<%= url_for(:controller => "products", :action => "index", :query => "soft drinks") %>">
									<div class="block2">
										<div class="card-category">
											<img class='img-category' src="https://img.icons8.com/color/48/000000/carton-of-orange-juice.png"/>
											<div class="card-category-info">
												<p>
													Boissons
												</p>
											</div>
										</div>
									</div>
								</a>
                  <a href="<%= url_for(:controller => "products", :action => "index", :query => "halal") %>">

                  <div class="block2">
                    <div class="card-category">
                      <img class='img-category' src="https://img.icons8.com/color/48/000000/approval--v1.png"/>
                      <div class="card-category-info">
                        <p>
                          Halal
                        </p>

                      </div>
                    </div>
                  </div>
                </a>
                <a href="<%= url_for(:controller => "products", :action => "index", :query => "vegan") %>">
                  <div class="block2">
                    <div class="card-category">
                      <img class='img-category' src="https://img.icons8.com/color/48/000000/vegan-food.png"/> 
                      <div class="card-category-info">

                        <p>
                          Vegan
                        </p>

                      </div>
                    </div>
                  </div>
                </a>
                <a href="<%= url_for(:controller => "products", :action => "index", :query => "without gluten") %>">
                  <div class="block2">
                    <div class="card-category">
                      <img class='img-category' src="https://img.icons8.com/color/48/000000/no-gluten.png"/> 
                      <div class="card-category-info">

                        <p>
                          Sans Gluten
                        </p>

                      </div>
                    </div>
                  </div>
                </a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



<hr>

<div class="container-lesplus">
<h6>
	Produits les mieux notés
</h6>
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12">
      <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="block4-wrap">
                <% @ratings_datas.each do |data| %>

                <div class="block4">
                <%= link_to product_detail_path(data[:product].code) do %>
                  <div class="card-review">
                    <%= image_tag data[:product].image_small_url, class: 'img-produit'%>
                    <img class='heart' src="https://img.icons8.com/color/48/000000/like--v1.png"/>
                    <div class="card-review-infos">
                      <div class="card-review-name-labels">
                        <h4> <%= data[:product].product_name[0,28] %>...</h4>
                      </div>
                      <p> <%= data[:product].brands %> </p>
                      <div class="card-review-ratings">
                        <% if data[:product].code %>
                          <% data[:average_rating].times do %>
                              <i class="fas fa-star fa-xs"></i>
                          <% end %>
                          <% ( 5 - data[:average_rating]).times do %>
                            <i class="far fa-star fa-xs"></i>
                          <% end %>
                          </br>
                          <span>(<%= data[:reviews_count] %>)</span>
                      <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="container-lesplus">
<h6>
	Produits les plus recherchés
</h6>
<div class="container-fluid">
	<div class="row flex-xl-nowrap">
		<div class="col-12">
			<div class="bd-example">
				<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="block4-wrap">
								 <% @ratings_datas.each do |data| %>

                <div class="block4">
                <%= link_to product_detail_path(data[:product].code) do %>
                  <div class="card-review">
                    <%= image_tag data[:product].image_small_url, class: 'img-produit'%>
                    <img class='heart' src="https://img.icons8.com/color/48/000000/like--v1.png"/>
                    <div class="card-review-infos">
                      <div class="card-review-name-labels">
                        <h4> <%= data[:product].product_name[0,28] %>...</h4>
                      </div>
                      <p> <%= data[:product].brands %> </p>
                      <div class="card-review-ratings">
                        <% if data[:product].code %>
                          <% data[:average_rating].times do %>
                              <i class="fas fa-star fa-xs"></i>
                          <% end %>
                          <% ( 5 - data[:average_rating]).times do %>
                            <i class="far fa-star fa-xs"></i>
                          <% end %>
                          </br>
                          <span>(<%= data[:reviews_count] %>)</span>
                      <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
                <% end %>
							</div>           
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
