<% if @products.class == String %>
<div><%= @products %> </div>
<% else %>
<% @products.each do |product| %>
<%= product.fetch["code"] %>
<%= product.fetch["product_name"] %>
<%= product.fetch["brands"] %>
<%= product.fetch["image_front_small_url"] %>

<% end  %>
<% end %>



<h1>test navbar</h1>
<div class="main-container">
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "Home", class: "navbar-brand" do %>
    <%= image_tag("icons/home.png") %>
    <% end %>
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag("icons/bars-code.png") %>
    <% end %>
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag("icons/heart.png") %>
    <% end %>
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag("icons/user.png") %>
    <% end %>
</div>
</div>



<div class="container">
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
      <img src="/assets/icons/home-a9f82bd82b9066f0817c7f0b6ee85cae15ddfea5bd8e300a1f398e1d154eb43d.png">
    <a href="#"><i class="fab fa-instagram"></i></a>
      <img src="/assets/icons/bars-code-2adca1f6e46024931398f5e46cc2923176013140be4a4cddd4bbef4d0a6ef177.png">
    <a href="#"><i class="fab fa-facebook"></i></a>
      <img src="/assets/icons/heart-4a1cdcfb6bb474d7de26f5fa2caefdecb37155859ac1770205975173f89bdffc.png">
    <a href="#"><i class="fab fa-twitter"></i></a>
      <img src="/assets/icons/user-566454ba8e98b62349a03e10631f3787075413a6c2d60442def11338cd4b68fd.png">
  </div>
</div>
</div>


