<h3>Résultats</h3>

<div class="cards-result">
<% @products.each do |product| %>
  <%= link_to product_detail_path(product.code) do %>
  <div class="card-result">

    <%= image_tag product.image_small_url, alt: "alttext" %>
    <div class="card-result-infos">
      <div class="card-result-name-labels">
        <h4><%= product.product_name %></h4>
        <div class="label">
         <%= image_tag 'icons/glutenfree_icon', style: 'width:16px', class: 'label'%>
         <%= image_tag 'icons/leaf_icon', style: 'width:16px'%>
        </div>
      </div>
      <p><% product.brands %></p>
      <div class="card-result-ratings">
        <% if @products_datas[product.code] %>
          <% @products_datas[product.code][:average_rating].times do %>
            <i class="fas fa-star fa-xs"></i>
          <% end %>
          <% ( 5 - @products_datas[product.code][:average_rating]).times do %>
            <i class="far fa-star fa-xs"></i>
          <% end %>
        </br>
        <span><%= @products_datas[product.code][:reviews_count] %></span>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
