
<h3>Results</h3>

<div class="cards-result">
  <div class="card-result">
    <img src="#" alt="" class="img-produit-result">
    <div class="card-result-infos">
      <div class="card-result-name-labels">
        <h4>Biscuit</h4>
        <div class="label">
         <%= image_tag 'icons/glutenfree_icon', style: 'width:16px', class: 'label'%>
         <%= image_tag 'icons/leaf_icon', style: 'width:16px'%>
        </div>
      </div>
      <p>Saint Michel</p>
      <div class="card-result-ratings">
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        </br>
        <span>(520)</span>
      </div>
    </div>
  </div>

  <div class="card-result">
    <img src="#" alt="" class="img-produit-result">
    <div class="card-result-infos">
      <div class="card-result-name-labels">
        <h4>Biscuit</h4>
        <div class="label">
         <%= image_tag 'icons/glutenfree_icon', style: 'width:16px', class: 'label'%>
         <%= image_tag 'icons/leaf_icon', style: 'width:16px'%>
        </div>
      </div>
      <p>Saint Michel</p>
      <div class="card-result-ratings">
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        </br>
        <span>(520)</span>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>

  <div class="cards-result">
    <div class="card-result">
    <img src="#" alt="" class="img-produit-result">
    <div class="card-result-infos">
      <div class="card-result-name-labels">
        <h4>Biscuit</h4>
        <div class="label">
         <%= image_tag 'icons/glutenfree_icon', style: 'width:16px', class: 'label'%>
         <%= image_tag 'icons/leaf_icon', style: 'width:16px'%>
        </div>
      </div>
      <p>Saint Michel</p>
      <div class="card-result-ratings">
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        </br>
        <span>(520)</span>
      </div>
    </div>
  </div>

    <div class="card-result">
    <img src="#" alt="" class="img-produit-result">
    <div class="card-result-infos">
      <div class="card-result-name-labels">
        <h4>Biscuit</h4>
        <div class="label">
         <%= image_tag 'icons/glutenfree_icon', style: 'width:16px', class: 'label'%>
         <%= image_tag 'icons/leaf_icon', style: 'width:16px'%>
        </div>
      </div>
      <p>Saint Michel</p>
      <div class="card-result-ratings">
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        </br>
        <span>(520)</span>
      </div>
    </div>
  </div>
</div>
