<h4 class="favh4">Résultats</h4>

<div class="cards-fav">
<% @products.each do |product| %>
  <div class="card-fav">
    <%= link_to product_detail_path(product.code) do %>
    <div class="card-fav-infos">
      <%= image_tag product.image_small_url, alt: "alttext", class: "fav-result" %>
      <div class="card-fav-name">
        <h4><%= product.product_name[0,28].. %></h4>
        <p><%= product.brands %></p>
      
      <div class="card-fav-ratings">
        <% if @products_datas[product.code] %>
          <% @products_datas[product.code][:average_rating].times do %>
            <i class="fas fa-star fa-xs"></i>
          <% end %>
          <% ( 5 - @products_datas[product.code][:average_rating]).times do %>
            <i class="far fa-star fa-xs"></i>
          <% end %>
        </br>
        <span><%= @products_datas[product.code][:reviews_count] %></span>
        <% end %> 
      </div>
      </div>
      </div>
      <% end %>
    </div>
     
  </div>
  <% end %>
</div>


