<div class="product-id">
<%#CARD IMAGE%>

  <div class="product-id-photo">
    <i class="fas fa-chevron-left"><%=   %></i>
    <%= image_tag 'icons/heart_icon', style: 'width:20px', class: 'heart'%>

    <div class="label-id">
      <%= image_tag 'icons/glutenfree_icon', style: 'width:30px', class: 'label'%>
      <%= image_tag 'icons/leaf_icon', style: 'width:30px',class: 'label'%>
    </div>
    
  </div>

<%# CARD INFOS %> 
  <div class="product-id-infos">
<%#CARD INFOS TITRE %>    
    <div class="product-id-infos-titre">
      <h4><%= @product.product_name %></h4>
      <div class="card-review-ratings">
          <i class="fas fa-star fa-xs"></i>
          <i class="fas fa-star fa-xs"></i>
          <i class="fas fa-star fa-xs"></i>
          <i class="fas fa-star fa-xs"></i>
          </br>
          <span>(520)</span>
      </div> 
    </div>
  <p><%= @product.brands %></p>

<%# CARD INFOS DESCRIPTION + LINK INGREDIENTS %>
    <p><%= @product.generic_name %>.</p>
    <%= link_to "See ingredients" %>
  
  </div>

</div>

<%# SUGESTIONS SWIPE %>
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12">
      <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="block4-wrap">
                <div class="block4">
                  <div class="card-review">
                    <img src="#" alt="image produit" class="img-produit">
                    <%= image_tag 'icons/heart_icon', style: 'width:16px', class: 'heart'%>
                    <div class="card-review-infos">

                      <div class="card-review-name-labels">
                        <h4>Water</h4>
                        <div class="label">
                        <%= image_tag 'icons/glutenfree_icon', style: 'width:16px', class: 'label'%>
                        <%= image_tag 'icons/leaf_icon', style: 'width:16px'%>
                        </div>
                      </div>
                      <p>Volvic</p>

                      <div class="card-review-ratings">
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        </br>
                        <span>(520)</span>
                      </div> 
                    </div>
                  </div>
                </div>

                                <div class="block4">
                  <div class="card-review">
                    <img src="#" alt="image produit" class="img-produit">
                    <%= image_tag 'icons/heart_icon', style: 'width:16px', class: 'heart'%>
                    <div class="card-review-infos">

                      <div class="card-review-name-labels">
                        <h4>Water</h4>
                        <div class="label">
                        <%= image_tag 'icons/glutenfree_icon', style: 'width:16px', class: 'label'%>
                        <%= image_tag 'icons/leaf_icon', style: 'width:16px'%>
                        </div>
                      </div>
                      <p>Volvic</p>

                      <div class="card-review-ratings">
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        </br>
                        <span>(520)</span>
                      </div> 
                    </div>
                  </div>
                </div>

                <div class="block4">
                  <div class="card-review">
                    <img src="#" alt="image produit" class="img-produit">
                    <%= image_tag 'icons/heart_icon', style: 'width:16px', class: 'heart'%>
                    <div class="card-review-infos">

                      <div class="card-review-name-labels">
                        <h4>Water</h4>
                        <div class="label">
                        <%= image_tag 'icons/glutenfree_icon', style: 'width:16px', class: 'label'%>
                        <%= image_tag 'icons/leaf_icon', style: 'width:16px'%>
                        </div>
                      </div>
                      <p>Volvic</p>

                      <div class="card-review-ratings">
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        <i class="fas fa-star fa-xs"></i>
                        </br>
                        <span>(520)</span>
                      </div> 
                    </div>
                  </div>
                </div>

      </div>
    </div>
  </div>
</div>








<ul class="list-group">

  <% @product.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %> </li> 
   <% end %>
 </ul>

<%= link_to 'Leave a review', new_product_review_path(@product) %> 

<script src="bootstrap/js/bootstrap.js"></script>
<script src="jquery.bcSwipe.js"></script>


