

<div class="product-id">
<%#CARD IMAGE%>

  <div class="product-id-photo" style="background-image: url('<%= image_path(@product.image_url) %>')">


<%= link_to products_path  do %>
  <i class="fas fa-chevron-left"></i>
<% end %>
  <%= link_to toggle_favorite_path(code: params[:code]), method: :post, remote: :true do %>
  <div class="custom-love-btn" id="product-love-btn">
		<div class="love action">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="custom-heart <%= "love" if @favorite %>  "></div>
		</div>
		<div class="send action"></div>
		<div class="more action"></div>
	</div>
 <% end %> 

  </div>
  </div>

<%# CARD INFOS %> 
  <div class="product-id-infos">
<%#CARD INFOS TITRE %>    
    <div class="product-id-infos-titre">
      <h4><%= @product.product_name %></h4>
      <div class="card-review-ratings">
        <% if @average %>
            <% @average.times do %>
            <i class="fas fa-star fa-xs"></i>
            <% end %>
            <% ( 5 - @average).times do %>
            <i class="far fa-star fa-xs"></i>
            <% end %>
          </br>
          <span>(<%= @reviews.count %>)</span>
          <% end %>


      </div>
    </div>
  <p><%= @product.brands %></p>

<%# CARD INFOS DESCRIPTION + LINK INGREDIENTS %>
    <p><%= @product.generic_name %></p>
    <p><em class="underline">Ingrédients</em> : <%=@product.ingredients_text%></p>

</div>

<h5>Vous aimeriez aussi..</h5>
  <%# SUGESTIONS SWIPE %>
  <div class="container-fluid">
    <div class="row flex-xl-nowrap">
      <div class="col-12">
        <div class="bd-example">
          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="block4-wrap">
                  <% @products.each do |p| %>
                  <div class="block4">
                        <%= link_to product_detail_path(p.code) do %>
                    <div class="card-review">
                      <%= image_tag p.image_small_url, class: 'img-produit'%>
                      <img class='heart' src="https://img.icons8.com/color/48/000000/like--v1.png"/>
                      <div class="card-review-infos">
                        <div class="card-review-name-labels">
                          <h4><%= p.product_name %></h4>
                        </div>
                        <p>
                        <%= p.brands %>
                        </p>
                          <div class="card-review-ratings">

                            <% if @products_datas[p.code] %>
                              <% @products_datas[p.code][:average_rating].times do %>
                                <i class="fas fa-star fa-xs"></i>
                              <% end %>
                              <% ( 5 - @products_datas[p.code][:average_rating]).times do %>
                                <i class="far fa-star fa-xs"></i>
                              <% end %>
                            </br>
                            <span><%= @products_datas[p.code][:reviews_count] %></span>
                            <% end %>

                          </div>
                      </div>
                    </div>
                  <% end %>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container-reviews">
<h5>Reviews</h5>


  <div class="cards-written-review">
  <% @reviews.each do |review| %>

    <div class="card-written-review">
      <div class="card-written-review-avatar">

        <p><%= cl_image_tag review.user.avatar.key, :class =>"avatar-review"  %></p>

        <p><%= review.user.first_name%></p>

      </div>
      <div class="card-written-review-infos">
        <div class="card-written-review-ratings">
              <% review.ratings.times do %>
                <i class="fas fa-star fa-xs"></i>
              <%end%>
              <% ( 5 - review.ratings).times do %>
                <i class="far fa-star fa-xs"></i>
              <%end%>


            </br>
            <span><%= review.created_at.strftime("%d-%m-%Y") %></span>
        </div> 

      <p><%= review.content %></p>
      </div>
    </div>
  <% end %>
  </div>
</div> 
</div>


<div class="form-review">
<%= render "reviews/new", review: @review, product: @product %>
</div>
</div>

</div>



