

<%= form_with url:"/products/#{product.code}/reviews", method: :post, local: true do |f| %>
        <%= f.text_area :content, placeholder: "Commentaire", name: "review[content]" %>
        <div class="form-group select required products_reviews_ratings">
          <label class="select required" for="_products_<%= product.code %>_reviews_ratings"></label>
          <select class="form-control select required reviewrating" name="review[ratings]" id="_products_<%= product.code %>_reviews_ratings">
            <option value=""></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>

        <%= f.submit "Envoyer" %>
      <% end %>


